<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
        <title>SVGEngine</title>
        <style>
            html,
            body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                font-family: 'Raleway', sans-serif;
            }
            nav {
                padding: 1rem;
                text-align: center;
                background-color: #2a2b2a;
                color: #f2f3d9;
            }
            nav a {
                color: #f2f3d9;
            }
            nav a:hover {
                color: #aa4465;
            }
            main {
                margin: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .button {
                background-color: #2E4052;
                color: #fafafa;
                padding: 1rem;
                font-weight: 700;
                margin: 10px;
                border-radius: 10px;

            }

            .message {
                border: solid 2px #FFC857;
                font-size: 1.5rem;
                color: #2E4052;
                margin: 1rem;
                text-transform: uppercase;
                padding: 1.2rem;
            }

            #stage {
                width: 300px;
                margin: 10px;
                display: inline-block;
            }


        </style>
        <script type="text/javascript" src="js/svg-engine.browser.js" defer></script>
        <script>
            function setMessage(message) {
                var newMessage = document.createElement("div");
                newMessage.className = "message";
                newMessage.append(message);
                document.getElementById("root").appendChild(newMessage);
            }
        </script>
    </head>
    <body>
        <header>
            <h1>SVGEngine Examples</h1>
            <nav>
                <a href="/">Index</a> -
                <a href="/simple">Simple</a> - 
                <a href="/loadClass">loadClass</a> -
                <a href="/animation">animation</a>
            </nav>
        </header>
        <main id="content">
            <%- body %>
        </main>
    </body>
</html>
